
/* Additional styles for recipes */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

ul, ol {
    font-size: smaller; 
}

ul {
    list-style: circle;
}

.glass-container:has(ul), .glass-container:has(ol){
    margin: 20px; 
}

img {
    width: 200px;
    object-fit: contain;
}
