
/* Table of Contents
    1. Global Styles
    2. List Styles
*/

/* 1. Global Styles */

html {
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background: rgb(66,92,255);
    background: linear-gradient(45deg, rgba(66,92,255,1) 3%, rgba(127,194,113,1) 95%);
}

body {
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

.glass-container {
    padding: 30px;
    border-radius: 20px;
    background: rgba(228,228,228,0.2);
    background: linear-gradient(0deg, rgba(228,228,228,0.4) 0%, rgba(228,228,228,0.2) 60%);
    box-shadow: 3px 3px 3px #4b4e54;
    
}

.icon-container {
    display: inline-flex;
    margin: 0px auto;
}

.icon-container img {
    margin: 0px auto;
}


.icon {
    display: inline-flex;
    height: 200px;
    width: 200px;
    margin: 0px auto;
    border: 2px solid lightgray;
    border-radius: 100px;
    align-content: center;
    background-color: lightgray;
}

h1 {
    margin: auto 30px;
    text-align: center;
}


/* 2. List Styles */

li.glass-container{
    margin: 20px;
}

ul{
    list-style: none;
}

